
<div class="row">
    <div class="col-md-4">
        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    <h3>Log in</h3>
                    <p class="text-muted">If You don't have Your acount yet, it's about time to <a href="#">create one</a></p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <md-input-container>
                        <label>email</label>
                        <input ng-model="user.email" type="email">
                        <md-tooltip>
                            This must be a valid email
                        </md-tooltip>
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <md-input-container>
                        <label>password</label>
                        <input ng-model="user.password" type="password">
                        <md-tooltip>
                            Needs to be at least 6 characters long
                        </md-tooltip>
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <md-button class="md-primary" ng-click="onSubmitButtonClicked()">submit</md-button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">

    </div>
</div>