
<div class="row">
    <div class="col-md-3">
        &nbsp;
    </div>
    <div class="col-md-6">
        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    <h3>Register</h3>
                    <p class="text-muted">Already have account? <a href="#/panel/login">log in</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <md-input-container>
                        <label>name</label>
                        <input ng-model="user.name" type="text">

                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <md-input-container>
                        <label>surname</label>
                        <input ng-model="user.surname" type="text">

                    </md-input-container>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <md-input-container>
                        <label>email</label>
                        <input ng-model="user.email" type="email">

                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <md-input-container>
                        <label>password</label>
                        <input ng-model="user.password" type="password">

                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <md-input-container>
                        <label>repeat password</label>
                        <input ng-model="user.password_repeat" type="password">

                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <md-button class="md-icon-button" aria-label="More">
                        <i class="fa fa-facebook-square"></i>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="More">
                        <i class="fa fa-google-plus"></i>
                    </md-button>
                </div>
                <div class="col-xs-6 text-right">
                    <md-button class="md-primary" ng-click="onSubmitButtonClicked()">submit</md-button>


                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        &nbsp;
    </div>
</div>