.fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.fade.ng-enter {
  opacity: 0;
  top: -30px;
}
.fade.ng-enter-active {
  opacity: 1;
  top: 0;
}
.fade.ng-leave {
  opacity: 1;
  top: 0;
}
.fade.ng-leave-active {
  opacity: 0;
  top: -30px;
}
.file-list .file-item{
  transition: background ease-in-out 0.2s, padding ease-in-out 0.2s;
  cursor: pointer;
  position: relative;
}

.file-list .file-item:hover{
  background-color: #e1e1e1;
  padding-left: 10px;
}

.file-list .file-item .buttons .caption{
  margin-top: 22px;
}



.file-list .file-item .buttons{
  position: absolute;
  transition: right ease-in-out 0.2s, opacity ease-in-out 0.2s;
  opacity:0;
  top:0;
  right:-30px;
  height: 100%;
  padding-right: 20px;
}

@media (max-width: 992px){
  .file-list .file-item .buttons{
    opacity: 1;
    right:0;
  }
}

.file-list .file-item:hover .buttons{
  opacity: 1;
  right: 0;
}
